.App {
  text-align: center;
}

h1 {
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
  font-style: italic;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.nav {
  float: center;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 7px;
  padding-bottom: 10px;
  position: relative;
}

.NavLink {
  color: #444;
  text-transform: uppercase;
  font-size: 16px;
}

.NavLink:hover {
  color: lightcoral;
  font-style: oblique;
}

.ArticleLink {
  display: inline-block;
  position: relative;
  color: #444;
}

.ArticleLink:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.ArticleLink:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.ArticleCard {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  border-width: 1px;
  border-style: dotted;
}

.ArticleCard h3 {
  text-decoration: underline;
}

.Articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 10px;
  gap: 10px;
}

.Articles p {
  border: 2px solid rgb(79, 185, 227);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.SingleArticle h2 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.Article {
  position: relative;
  padding: 50px;
  text-align: left;
  margin-right: 100px;
  margin-left: 100px;
}

.Article p {
  margin-top: 10px;
  margin-bottom: 7px;
  font-family: arial;
}

.Article main {
  padding-top: 10px;
  margin: auto;
}

.Article-Date {
  position: absolute;
  margin-top: 50px;
  bottom: 10px;
  right: 50px;
}

.Article-Votes {
  position: absolute;
  margin-top: 50px;
  bottom: 10px;
  left: 50px;
}

.TopicsCard p {
  border: 2px solid rgb(79, 185, 227);
  padding: 10px;
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
}

.TopicsCard p:hover {
  border: 2px solid rgb(79, 185, 227);
}

.VoteWrapper-ArticleCard {
  position: absolute;
  right: 15px;
  list-style: none;
}

.VoteWrapper-SingleArticle {
  position: absolute;
  left: 2px;
  bottom: -80px;
  list-style: none;
}

.Vote-Button {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 5px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.Vote-Tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  font-style: italic;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.Vote-Tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.Vote-Button:hover .Vote-Tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.VoteWrapper-ArticleCard .Vote-Button:hover,
.VoteWrapper-ArticleCard .Vote-Button:hover .Vote-Tooltip,
.VoteWrapper-ArticleCard .Vote-Button:hover .Vote-Tooltip::before {
  background: #333333;
  color: #ffffff;
}

.VoteWrapper-SingleArticle .Vote-Button:hover,
.VoteWrapper-SingleArticle .Vote-Button:hover .Vote-Tooltip,
.VoteWrapper-SingleArticle .Vote-Button:hover .Vote-Tooltip::before {
  background: #333333;
  color: #ffffff;
}

.Comments-Section {
  border: 2px solid #ccc;
  margin-top: 100px;
}

.Comments {
  text-align: left;
  padding: 50px;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 0%;
  text-align: left;
  width: auto;
  height: 500px;
  overflow: auto;
}

.CommentCard {
  text-align: left;
  margin-top: 50px;
  margin-bottom: -35px;
}

.CommentCard legend {
  font-weight: bold;
}

.Comment-Votes {
  margin: 10px;
  float: left;
}

.Comment-Date {
  margin: 10px;
  float: right;
}

.Articles-SortBy,
.Articles-SortBy * {
  margin: 5px;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

.Articles-SortBy {
  position: relative;
  margin: auto 40% auto 40%;
  background-color: #e6e6e6;
  border-radius: 4px;
}

.Articles-SortBy select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.Articles-SortBy select:active,
.Articles-SortBy select:focus {
  outline: none;
  box-shadow: none;
}

.Articles-SortBy::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.SortBy-Button {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 7px 15px;
  font-family: "Roboto", sans-serif;
.CommentAdder-Textbox {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 140px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.CommentAdder-Form legend {
  text-align: left;
}

.CommentAdder-Form {
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 20%;
}

.CommentAdder-Fieldset {
  padding: 20px;
  margin: 10px;
}

/* .CommentAdder-Button {
  display: inline-block;
  padding: 0.65em 1.6em;
  border: 3px solid lightgrey;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  animation: bn13bouncy 5s infinite linear;
  position: relative;
}

.CommentAdder-Button:hover {
  border: 3px solid black;
  color: black;
} */

.CommentAdder-Submit {
  margin-top: 10px;
  padding: 7px 25px;
  font-size:medium;
  font-weight: bolder;
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.SortBy-Submit {
  border: 2px solid #aaa;
  z-index: 1;
  color: black;
}

.SortBy-Submit:after {
  border-radius: 20px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: #aaa;
  transition: all 0.3s ease;
}

.SortBy-Submit:hover {
  color: rgb(0, 0, 0);
}

.SortBy-Submit:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-42:active {
.CommentAdder-Button {
  border: 2px solid lightgray;
  z-index: 1;
  color: black;
}
.CommentAdder-Button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: lightgray;
  transition: all 0.3s ease;
}

.CommentAdder-Button:hover {
  color: lightcoral;
}

.CommentAdder-Button:hover:after {
  top: 0;
  height: 100%;
}

.CommentAdder-Button:active {
  top: 2px;
}